# SPDX-FileCopyrightText: 2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

**/__pycache__/
**/.eggs
**/*.ipynb*
**/*.egg-info
**/.coverage
.idea/
appcenter/univention-appcenter-control
docker/build/
docker/ucs/
**/venv
**/build
**/dist
