#!/usr/bin/make -f

# SPDX-FileCopyrightText: 2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

override_dh_auto_install:
	dh_auto_install
	univention-install-config-registry-info

override_dh_auto_test:
	ucslint

%:
	dh $@ --with python_support
