aiocache>=0.11.1,<0.12
aiofiles
asgi-correlation-id>=3.0.1
async-lru
async-property
cachetools
diskcache
fastapi>=0.83.0,<0.90.0
fastapi_utils
httpx
lazy-object-proxy
psutil
pyasn1-modules>=0.2.7
pyasn1>=0.4.6,<0.5.0
pydantic[email,dotenv]
pyjwt
python-multipart
ucs-school-lib
udm-rest-client>=1.1.1
orjson>=3.8.4
univention-config-registry
uvicorn
gunicorn
uldap3>=1.1.0
