black==22.3.0
coverage>=5.3
docutils>=0.16
flake8==3.9.2
isort==5.10.1
coverage~=6.5.0
factory_boy>=3.1.0
Faker~=15.0.0
pytest~=6.2.5
pytest-asyncio~=0.19.0
pytest-cov~=4.0.0
pytest-mock
pyfakefs~=4.7.0
aiocache>=0.11.1,<0.13
aiofiles
asgi-correlation-id>=3.0.1
async-lru
async-property
cachetools
diskcache
fastapi>=0.95.2,<0.98.0
timing-asgi>=0.3.0,<0.4.0
httpx<0.28.0
lazy-object-proxy
psutil
pyasn1-modules>=0.2.7
pyasn1>=0.4.6,<0.6.0
pydantic[email,dotenv]
pyjwt
python-multipart
udm-rest-client>=1.1.1
orjson>=3.8.4
uvicorn
gunicorn
uldap3>=1.1.0
tenacity>=9.1.2,<10
Univention-Configuration-Registry@ https://git.knut.univention.de/univention/dev/ucs/-/archive/oschwieg/ucr_script/ucs-oschwieg-ucr_script.zip?path=base/univention-config-registry#subdirectory=base/univention-config-registry
univention-debhelper @ https://git.knut.univention.de/univention/dev/ucs/-/archive/oschwieg/ucr_script/ucs-oschwieg-ucr_script.zip?path=packaging/univention-debhelper#subdirectory=packaging/univention-debhelper
