version: '3.1'
services:
  api:
    image: {{ IMAGE_TAG_KELVIN }}
    security_opt:
      - seccomp:/etc/docker/seccomp-systemd.json
    restart: unless-stopped
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /usr/share/ca-certificates:/usr/share/ca-certificates:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
      - /var/lib/ucs-school-import/configs:/var/lib/ucs-school-import/configs
      - /var/lib/ucs-school-import/kelvin-hooks:/var/lib/ucs-school-import/kelvin-hooks
      - /var/lib/ucs-school-lib/kelvin-hooks:/var/lib/ucs-school-lib/kelvin-hooks
      - /etc/ucsschool/kelvin:/etc/ucsschool/kelvin
      - /etc/ldap.secret:/var/lib/univention-appcenter/apps/ucsschool-kelvin-rest-api/conf/cn_admin.secret:ro
    hostname: @!@
from univention.config_registry import ucr
import ldap
hostdn = ucr["appcenter/apps/ucsschool-kelvin-rest-api/hostdn"]
hostname = ldap.dn.str2dn(hostdn)[0][0][1]
print(hostname)
@!@
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
      SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
  provisoning:
    image: {{ IMAGE_TAG_CONNECTOR }}
    security_opt:
      - seccomp:/etc/docker/seccomp-systemd.json
    restart: unless-stopped
    depends_on:
      api:
        condition: service_healthy
    volumes:
      - /etc/ssl/certs:/etc/ssl/certs:ro
      - /usr/share/ca-certificates:/usr/share/ca-certificates:ro
      - /var/lib/univention-appcenter/apps/ucsschool-kelvin-rest-api/conf/provisioning_config.json:/var/lib/univention-appcenter/apps/ucsschool-kelvin-rest-api/conf/provisioning_config.json:ro
      - /usr/local/share/ca-certificates:/usr/local/share/ca-certificates:ro
      - /etc/ucsschool/kelvin:/etc/ucsschool/kelvin
    environment:
      REQUESTS_CA_BUNDLE: /etc/ssl/certs/ca-certificates.crt
      SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
      UCSSCHOOL_KELVIN_DB_URI_FILE: /etc/ucsschool/kelvin/postgresql-kelvin.uri
      UCSSCHOOL_KELVIN_DB_USERNAME_FILE: /etc/ucsschool/kelvin/postgresql-kelvin.username
      UCSSCHOOL_KELVIN_DB_PASSWORD_FILE: /etc/ucsschool/kelvin/postgresql-kelvin.secret
      LDAP_SERVER_TYPE: @%@ldap/server/type@%@
      PROVISIONING_API_FQDN: @%@ldap/server/name@%@
