#!/usr/bin/make -f

# SPDX-FileCopyrightText: 2007 - 2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

export LC_ALL=C.UTF-8

PO_FILES := $(shell find udm_hook syntax modules -name '*.po')
MO_FILES := $(PO_FILES:%.po=%.mo)

APIDOC_BASE_DIR := usr/share/doc/ucs-school-import-http-api
APIDOCSRC_DIR := $(APIDOC_BASE_DIR)/source
PLANTUML_DIR := $(APIDOC_BASE_DIR)/plantuml
APIDOCSRC_FILES := $(shell find $(APIDOCSRC_DIR) -name '*.rst' -o -name '*.png')
PYMODULESRC_FILES := $(shell find modules/ -name '*.py')

%.mo:	%.po
	msgfmt --check -o $@ $<

plantuml:
	make -C $(PLANTUML_DIR)
	cp -v $(PLANTUML_DIR)/*.png $(PLANTUML_DIR)/*.svg $(APIDOCSRC_DIR)

pymoduledoc: $(PYMODULESRC_FILES)
	sphinx-apidoc --force --private --no-toc -o $(APIDOCSRC_DIR)/python/ modules/

apidoc:	$(APIDOCSRC_FILES) plantuml pymoduledoc
	make -C$(APIDOC_BASE_DIR) html

override_dh_auto_build: $(MO_FILES) apidoc
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	univention-install-config-registry

override_dh_fixperms:
	dh_fixperms
	chmod 750 debian/ucs-school-import/var/lib/ucs-school-import/passwords
	chmod 750 debian/ucs-school-import/var/lib/ucs-school-import/summary
	chmod 750 debian/ucs-school-import-http-api/var/lib/ucs-school-import/jobs
	chmod 750 debian/ucs-school-import-http-api/var/spool/ucs-school-import/media/uploads

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/ucs-school-import.conffiles
	rm -f debian/ucs-school-import-schema.conffiles
	make -C $(APIDOC_BASE_DIR) clean
	make -C $(PLANTUML_DIR) clean
	rm -f $(APIDOCSRC_DIR)/python/*

override_dh_auto_test:
	dh_auto_test
	ucslint

override_dh_pysupport:
	dh_pysupport --exclude=pyhooks-available

%:
	dh $@ --with python_support --with systemd
