# SPDX-FileCopyrightText: 2026 Univention GmbH
# SPDX-License-Identifier: AGPL-3.0-only

colorlog
lazy-object-proxy
python-ldap
ruamel.yaml<0.18.0
six
univention-directory-manager-modules
univention-lib
udm-rest-client>=1.0.8
uldap3>=1.0.0
